* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 2rem;
  display: grid;
  place-items: center;
  min-height: 70vh;
  font-family: sans-serif;
}

input,
button {
  font: inherit;
}

.container {
  display: flex;
  border: solid gray 1px;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  border-right: solid gray 1px;
}

.sidebar button {
  text-transform: capitalize;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  min-height: 300px;
  align-items: flex-end;
  min-width: 400px;
}

.message {
  text-align: right;
  background-color: cornflowerblue;
  color: white;
  padding: 3px 7px;
  border-radius: 3px;
}

.selected {
  background-color: cornflowerblue;
  color: white;
}

.input-container {
  display: flex;
}

.input-container input {
  flex-grow: 1;
  padding: 3px 7px;
  border-left: 0;
}

input,
button {
  /* background-color: bisque; */
  border: 1px solid gray;
  padding: 5px 12px;
  border-right: 0;
  border-bottom: 0;
}

.sidebar button {
  border-left: 0;
  border-top: 0;
  border-bottom: 1px solid gray;
}

input {
  position: relative;
  display: block;
}

button {
  cursor: pointer;
}

.sidebar {
  min-width: 150px;
}

button:hover {
  background-color: aliceblue;
}

button.active {
  background-color: cornflowerblue;
  color: white;
}

h2 {
  align-self: center;
  margin: auto;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgb(58, 103, 186);
}
